/* CSS Document */

.monthpicker {
	position: absolute;
	top: 0px;
	left: 0px;
	/*width: 150px;
	height: 125px;*/
	white-space: nowrap;
	background-color: #788084;
	overflow: hidden;
	border-top: 1px solid #F5F5F5;
	border-left: 1px solid #F5F5F5;
	border-right: 2px solid #333333;
	border-bottom: 2px solid #333333;
}

.monthpicker div.mpicker_inner {
	border-top: 1px solid #333333;
	border-left: 1px solid #333333;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	overflow: hidden;
}

.monthpicker div.mpicker_inner table.mpicker_table {
	border-collapse: collapse;
	border-spacing: 0px;
	border: 0px;
}

.monthpicker div.mpicker_inner table.mpicker_table tr td a.mpicker_month {
	display: block;
	height: 25px;
	width: 40px;
	background-color: #C8D0D4;
	/*border: 1px solid #C8D0D4;*/
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	text-align: center;
	line-height: 25px;
	text-decoration: none;
	color: #FF3300;
	
	
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.monthpicker div.mpicker_inner table.mpicker_table tr td a.mpicker_month:hover {
	background-color: #E8F4F0;
}

.monthpicker div.mpicker_inner table.mpicker_table tr td a.mpicker_month_selected {
	display: block;
	height: 25px;
	width: 40px;
	background-color: #EEEEEE;
	border-top: 1px solid #333333;
	border-left: 1px solid #333333;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	text-align: center;
	line-height: 25px;
	text-decoration: none;
	color: #FF3300;
	
	
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.monthpicker div.mpicker_inner table.mpicker_table tr td table.mpicker_year {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: white;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
	border: 0px;
}

.monthpicker div.mpicker_inner table.mpicker_table tr td table.mpicker_year tr td a.mpicker_arrow {
	border-top: 1px solid #F1F1F1;
	border-left: 1px solid #F1F1F1;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	display: block;
	text-align: center;
	width: 25px;
	height: 18px;
	text-decoration: none;
	line-height: 18px;
	color: #333333;
}